#header {
    height: 56.25vw;
}

#header li a, #header li span {
    display: block;
    color: white;
    font-size: 32px;
    font-variant-caps: all-small-caps;
    text-align: center;
    padding: 40px 20px;
    text-decoration: none;
}

#introVid {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 0;
}

.numbers-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 48px;
    padding-bottom: 148px;
}

.counter, .counter1  {
    font-size: calc(24px + 3vw);
    font-weight: bold;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.08);
}

.numbers-banner hr {
    border: none;
    border-bottom:0.5px solid var(--blue);
    width: 5vw;
    text-shadow: 0px 0px 6px rgba(0,0,0,1);
}

.label{
    font-size: calc(12px + 1vw);
    text-shadow: 0px 0px 6px rgba(0,0,0,0.06);
}

#sum-1, #sum-2 {
    border-radius: 36px;
    padding: 30px;
    box-shadow: 0px 0px 24px rgba(0,0,0,0.01);
}

#sum-1 p, #sum-2 p {
    margin: 0;
}

#sum-1 p {
    width: 400px;
    text-align: left;
    font-size: 24px;
    line-height: 40px;
    border-bottom-right-radius: 0px;
    max-width: 80vw;
}

#sum-2 p {
/*    background-image: url("images/home/b2-b.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 200px;*/
    width: 320px;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    border-bottom-left-radius: 0px;
    max-width: 80vw;
}

.tag {
    background-color: rgba(110, 182, 207,0.3);
    font-weight: bold;
    font-size: 12px;
    padding: 8px;
    margin: 1px;
    border-radius: 4px;
}

.sBox {
    padding: 24px;
    padding-left: 0px;
    padding-right: 0px;
    margin: 48px;
    margin-left: 12px;
    margin-right: 12px;
    width: 500px;
    height: 300px;
}

.sBox p {
    margin: 12px;
}

.card-inf, .card-brd {
    padding: 24px;
    margin: 78px;
    margin-top: 18px;
    margin-bottom: 0px;
    width: 300px;
    height: 230px;
}
.card-inf hr, .card-brd hr {
    width: 75px;
    margin-top: 18px;
    border: none;
    border-bottom:0.5px solid var(--blue);
}

.arrow {
    margin: auto;
    width: 50px;
    height: 50px;
    transform: translateY(26px) rotate(45deg);
    background-color: white;
    border-left: 6px solid var(--pink);
    border-top: 6px solid var(--pink);
    border-top-left-radius: 6px;
    position: relative;
}

.open-brd, .open-inf {
    background-color: white;
    cursor: pointer;
    border-bottom-left-radius: 22px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0px 0px 24px rgba(0,0,0,0.08);
}

.open-brd:hover, .open-inf:hover {
    box-shadow: 0px 0px 24px rgba(0,0,0,0.2);
}

#inf, #brd {
    margin-bottom: 12px;
}

#for-inf, #for-brd {
    margin: auto;
    align-items: flex-start;
    width: 90vw;
    box-shadow: 0px 0px 24px rgba(0,0,0,0.02);
    border-top: 6px solid var(--pink);
    background-color: white;
    padding-top: 36px;
    padding-bottom: 25px;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 22px;
}

#for-inf img, #for-brd img {
    width: 50px;
    height: 50px;
}

.inf-d {
    height: 400px;
    padding: 12px;
    min-width: 25vw;
    margin: 26px;
}

.inf-d p {
    margin: 0;
    padding: 8px;
}

.wrapper {
  overflow-x: scroll;
  margin: 0 auto;
  display: flex;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.prof {
    padding: 42px;
    transition: 0.3s;
}

.prof:hover {
    transform: translateY(-10px);
    cursor: pointer;
}
.profile {
    position: static;
    width: 300px;
    height: 480px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 0px 12px rgba(0,0,0,0.08);
    transition: 0.3s;
    transform-style: preserve-3d;
}

.profile img {
    width: 300px;
    height: 400px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.p-front {
    background-color: var(--white);
}

.p-front, .p-back {
    position: absolute;
    border-radius: 12px;
    width: 300px;
    height: 480px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.p-back {
    background-color: white;
    transform: rotateY(180deg);
}

.inf-desc-back {
    padding: 24px;
    font-size: 14px;
    text-align: left;
}

.inf-desc-back p {
    margin: 0;
}

@media only screen and (max-width: 1000px) {
    #desktop-nav, #introVid {
        display: none;
    }
    #header li a, #header li span {
        color: var(--blue);
    }

    #mobile {
        display: block;
    }
    #flex {
        flex-direction: column;
    }
    #prof-f {
        margin-left: calc(50vw - 192px);
    }
    #prof-l {
        margin-right: calc(50vw - 192px);
    }
    .logo {
        border-radius: 100px;
        width: 100px;
        height: 100px;
        margin: 18px;
    }

    .logo img {
        width: 100px;
        height: 100px;
    }
    #header {
        height: 100vh;
    }
}
@media only screen and (min-width: 1000px) {
    #desktop-nav {
        display: block;
    }
    #mobile {
        display: none;
    }
    #prof-f {
        margin-left: calc(50vw - 576px);
    }
    #prof-l {
        margin-right: calc(50vw - 576px);
    }
}