:root {
    --white:  rgba(255,255,255,1);
    --pink: rgb(110, 182, 207);
    --beige: rgba(238, 232, 235,1);
    --blue: rgba(95, 106, 114,1);
    --lightblue: rgba(95, 106, 114,0.8);
}

.inf-bio {
    padding: 36px;
    background-color: rgba(110, 182, 207,0.2);
}

.bio-img {
    width: 300px;
    height: 400px;
}

.sm-icon {
    position: absolute;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 2em;
    height: 2em;
    object-fit: cover;
    transform: translateY(-6px);
}

.spacer {
    display: inline-block;
    width: 50px;
}

.inf-bio p {
    text-align: left;
}

.inf-img-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.inf-img-desc {
    margin-right: 36px;
}

.tag-div {
    line-height: 56px;
    margin-left: 13%;
    text-align: left;
}

.tag {
    display: inline-block;
    background-color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    line-height: 16px;
    margin: 6px;
    border-radius: 4px;
}